@model ADJInsc.Models.ViewModels.LoginViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>


    <div class="modal fade in" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Inicio de Sesión</h5>
                </div>
                <div class="modal-body card">
                    @if (Model.Password == "1")
                    {

                        <div>
                            <div class="modal-body card">
                                <h3>
                                 Se le acaba de mandar un Email a @Model.Email Gracias
                                </h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnHideModal" class="btn btn-outline-info">
                                    Volver
                                </button>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (Model.Password == "2")
                        {

                            <div>
                                <div class="modal-body card">
                                    <h3>
                                       Los datos ingresados no son correctos
                                    </h3>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnHideModal" class="btn btn-outline-info">
                                        Volver
                                    </button>
                                </div>
                            </div>

                        }
                        else
                        {

                        }

                    }



                </div>
            </div>
        </div>

    </div>

</body>


</html>

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <style type="text/css">
        .span3 {
            position: relative;
            height: 200px;
            overflow: auto;
        }

        .card-body {
            padding-bottom: 0rem;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            $("#loginModal").modal();
        });

        $(function () {

            $("#btnLogin").click(function () {
                const buttonElement = document.activeElement // Get the currently focused element
                buttonElement.blur() // Remove focus from the button
                $("#AjaxLoaderLogin").show("fast");
                $("#loginModal").modal('show');
            });

            $("#btnHideModal").click(function () {
                $("#loginModal").modal('hide');
                history.back();
            });
        });


    </script>
}